<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Привет всем!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/sm1.ico') }}" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
                <a class="navbar-brand" href="/"><img src="{{ asset('assets/images/logo.png') }}"></a>
                {% block main_menu %}
                {% endblock %}
            </nav>
            <div id="main" class="d-flex flex-row justify-content-start">
                <div id="frame_left">
                    {% block left_head %}
                    {% endblock %}
                    {% block left_menu %}
                    {% endblock %}
                </div>
                <div id="frame_right">
                    {% block right_head %}
                    {% endblock %}
                    {% block right_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/tether.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
